html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Nunito',Helvetica,Arial,Lucida,sans-serif;
  color: #52616B;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
